@font-face {
	font-family: 'Pixelify Sans';
	src: url(assets/fonts/PixelifySans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:root {
	background-color: rgb(192, 213, 255);
	--dark-blue: rgba(63, 63, 116, 1);
	--light-purple: rgba(152, 152, 216, 1);
	--light-yellow: rgb(249, 237, 164);
	--light-red: #ff8279;
}

/* Button styles */
#button-container {
	display: flex;
	justify-content: center;
	gap: 5;
	margin-top: 10;
}

button {
	font-family: Pixelify Sans;
	padding: 10px 10px;
	background-color: var(--light-purple);
	color: white;
	border: 2px solid white;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.3s ease;
	min-width: 50px;
}

button:hover {
	transform: translateY(-1px);
}

button:active {
	transform: translateY(0);
}

/* button state styles */
button.Start {
	background-color: var(--light-purple);
}

button.Pause {
	background-color: var(--light-yellow);
}

button.Resume {
	background-color: var(--light-purple);
}

button.Reset {
	background-color: var(--light-red);
}

button.menu-button {
	background-color: var(--light-purple);
}

/* Menu display */
#menuDisplay {
	font-family: Pixelify Sans;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Cat animation: Menu */
#cat-animation-container {
	width: 390px;
	height: 350px;
	overflow: hidden;
  	overflow-y: hidden;
}

#cat-sprite {
	width: 100%;
	height: 100%;
	object-fit: contain;
	overflow: hidden;
	overflow-y: hidden;
}

/* Cat animation: timer */
#cat-reading-container {
	width: 310x;
	height: 320px;
	overflow: hidden;
	overflow-y: hidden;
	margin-top: 10px;
}

#cat-reading-sprite {
	width: 100%;
	height: 100%;
	object-fit: contain;
	overflow: hidden;
	overflow-y: hidden;
}

/* Timer display  */
#timerDisplay {
  font-family: Pixelify Sans;
  color: var(--dark-blue);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#time {
	font-size: 72px;
	margin: 0 10px;
	line-height: 1;
}

#timerDisplay button {
	height: 40px;
	align-self: center;
  }

#time:hover{
	color: var(--light-purple);
	cursor: pointer;
}

/* Timer input styles */
#timer-input {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 5px;
}

.input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-group label {
	font-family: Pixelify Sans;
	margin-bottom: 1px;
}

.input-group input {
	font-family: Pixelify Sans;
	padding: 4px;
	width: 40px;
	border: 2px solid white;
	border-radius: 2px;
	text-align: center;
}